:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
     
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url('/header-image.jpg'); /* 1. Define la imagen de fondo */
    background-size: cover;               /* 2. Escala la imagen para cubrir todo el área */
    background-repeat: no-repeat;         /* 3. Evita que la imagen se repita */
    background-position: center;          /* 4. Centra la imagen */
    background-attachment: fixed;         /* (Opcional) Mantiene la imagen fija al hacer scroll */
    height: 100vh;    
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
