.container {
  background: 
    linear-gradient(rgba(36, 34, 34, 0.44), rgba(36, 34, 34, 0.44)), 
    url('/header.jpg'); /*se aplica un filtro de color por encima de la imagen*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}


.TextContainer {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
  margin: 0 50px 0 50px;
}

.title {
  font-family: Raleaway, sans-serif;
  color: #fff;
  font-size: 63px;
  font-weight: bold;
  text-align: left;
}

.button {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border: 30px;
  border-radius: 20px;
    padding: 10px 20px;
font-size: 16px;
  backdrop-filter: blur(5px);
}

