.header {
  height: 64px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(36, 34, 34, 0.44);
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(36, 34, 34, 0.33);
  border: 1px solid rgba(207, 194, 194, 0.33);
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ffffff;
  gap: 2px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.links {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #2c2e33;
}
